blockquote.keypoints {
  padding-bottom: map-get($spacers, 3);
  padding-top: map-get($spacers, 3);
  padding-left: map-get($spacers, 4);
  padding-right: map-get($spacers, 4);
  background-color: rgba($green, .1);
  border: 1px solid $green;
  border-radius: map-get($base, border-radius-lg);
  font-size: map-get($base, font-size);
  color: $text-color;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(199, 199, 199);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(199, 199, 199);
  cursor: pointer;
}



.btn,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  position: relative;
  display: inline-block;
  padding: 18px 30px;
  font-size: 11px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: #dce6f0;
  background-color: #25292e;
  text-align: center;
  border: 0;
  border-radius: 0;
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  outline: 0;

  &::after {
    display: none;
  }

  &:hover,
  :focus,
  :active {
    color: #dce6f0;
    background-color: lighten(#25292e, 14%);
    outline: 0;
  }
}

.btn + .btn {
  margin-top: 2em;
}

button:disabled {
  cursor: not-allowed;
  opacity: .65;
  transition: background-color .2s ease;

  &:hover,
  :focus {
    background-color: #25292e;
  }
}

#bibtexbutton,
input[type="btnBibBlue"],
input[type="btnBibGreen"],
input[type="btnBibOrange"]{
  padding:0;
  margin-top:5px;
  line-height: 1;
  letter-spacing: 0.0em;
  text-transform: lowercase;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  max-width: 70px;
  height: 23px;
  padding-top: 0;
  padding-bottom: 0;
  color: #f6f8fa;
  text-align: center;
  border: 0;
  border-radius: 3px;
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  outline: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::after {
    display: none;
  }
}

input[type="btnBlue"],
input[type="btnGreen"],
input[type="btnOrange"]{
  padding:0;
  margin-top:5px;
  line-height: 1;
  letter-spacing: 0.0em;
  text-transform: lowercase;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  max-width: 130px;
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
  color: #f6f8fa;
  text-align: center;
  border: 0;
  border-radius: 3px;
  transition: all 0.45s cubic-bezier(0.25, 1, 0.33, 1);
  outline: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::after {
    display: none;
  }
}

input[type="btnBibGreen"],
input[type="btnGreen"]{
  background-color: #009999;
  &:hover, :focus, :active {
    background-color: teal;
  }
} 

#bibtexbutton,
input[type="btnBibBlue"],
input[type="btnBlue"]{
  background-color: #5bc0de;
  &:hover, :focus, :active {
    background-color: #46b8da;
  }
} 

input[type="btnBibOrange"],
input[type="btnOrange"]{
  background-color: #f0ad4e;
  &:hover, :focus, :active {
    background-color: #eea236;
  }
}

